In [10]:
from dotenv import load_dotenv, find_dotenv

import os
import pandas as pd

assert load_dotenv(find_dotenv())
assert os.getenv('DATA_DIR')

data_dir = os.environ['DATA_DIR']

In [11]:
# 各股票30天回报率
df_30return = pd.read_csv(os.path.join(data_dir, 'SP500_Merged', 'stock_30return.csv'), index_col=0)

print(df_30return.shape, df_30return.ticker_f.unique().shape)

_ = df_30return.ticker_f.value_counts()
print(_.max(), _[_ < _.max()])

df_30return['created_day'] = pd.to_datetime(df_30return['created_day'])

df_30return = df_30return.rename(columns={'created_day': 'date'})

df_30return.head()

(183125, 3) (466,)
393 ticker_f
A        391
DISCB    382
Name: count, dtype: int64

  ticker_f       date  30d_return
0        A 2020-09-01    0.020486
1        A 2020-09-02    0.060392
2        A 2020-09-03    0.017877
3        A 2020-09-04   -0.006260
4        A 2020-09-05   -0.009613

In [12]:
# GME在推文中同时被提及的股票及其提及次数
df_gme_comention = pd.read_csv(os.path.join(data_dir, 'SP500_Merged', 'gme_comention.csv'), index_col=0)

df_gme_comention.ticker_f.unique().shape

df_gme_comention.head()

  ticker_f  gme_comention
0     AAPL           3511
1     NVDA            124
2       FB            338
3     PLTR            551
4      WMT            253

In [13]:
# 股票每天被提及次数
df_everyday_count = pd.read_csv(os.path.join(data_dir, 'SP500_Merged', 'stock_everyday_count.csv'), index_col=0)

print(df_everyday_count.shape, df_everyday_count.mentioned.unique().shape)

df_everyday_count['date'] = pd.to_datetime(df_everyday_count['date'])

df_everyday_count = df_everyday_count.rename(columns={'mentioned': 'ticker_f'})

df_everyday_count.head()

(192928, 3) (7698,)

        date ticker_f  count
0 2020-10-01        A      6
1 2020-10-01      AAL    804
2 2020-10-01      AAN      3
3 2020-10-01     AAOI      1
4 2020-10-01      AAP      3

In [14]:
# 股票标准差
df_std = pd.read_csv(os.path.join(data_dir, 'SP500_Merged', 'stock_standard_deviation.csv'), index_col=0)

df_std['created_day'] = pd.to_datetime(df_std['created_day'])

df_std = df_std.rename(columns={'created_day': 'date'})

df_std

       ticker_f       date  std_7    std_30    std_60
0             A 2020-08-04    0.0       NaN       NaN
1             A 2020-08-05    0.0       NaN       NaN
2             A 2020-08-06    0.0       NaN       NaN
3             A 2020-08-07    0.0       NaN       NaN
4             A 2020-08-08    0.0       NaN       NaN
...         ...        ...    ...       ...       ...
196150      ZTS 2021-09-22    0.0  0.007524  0.007667
196151      ZTS 2021-09-23    0.0  0.008069  0.007969
196152      ZTS 2021-09-24    0.0  0.008053  0.007763
196153      ZTS 2021-09-25    0.0  0.008043  0.007736
196154      ZTS 2021-09-26    0.0  0.008041  0.007687

[196155 rows x 5 columns]

In [15]:
# Financial Report

df_fr = pd.read_csv(os.path.join(data_dir, 'Financial Report', 'df_report_merged_342ticker.csv'), index_col=0)
 
 
df_fr = df_fr.rename(
    columns = {
        'ticker': 'ticker_f',
        '时间': 'date',
        '科目': 'Subject',
        '存货周转天数': 'DIO',
        '稀释每股收益': 'Diluted EPS',
        '科目\时间': 'Subject_Date',
        '归属母公司的股东权益': 'SE[MAX_CO%',
        '资产总计': 'Total Assets',
        '应收账款周转率（次）': 'AR Turnover Ratio',
        '应收账款周转天数（天）': 'DSO',
        '归属母公司股东的权益/负债合计': 'SE/Liability',
        '相对年初每股净资产增长率': 'NAVPS Growth [YTD]',
        '总资产周转率（次）': 'Total Asset Turnover',
        '每股现金流': 'CFPS',
        '基本每股收益 ': 'Basic EPS',
        '每股营业收入': 'Revenue Per Share',
        '流动比率': 'Current Ratio',
        '每股资本公积': 'Capital Reserve Per Share',
        '速动比率': 'Quick Ratio',
        '存货周转率（次）': 'Inventory Turnover',
        '产权比率': 'Equity Ratio',
        '固定资产周转率（次）': 'Fixed Asset Turnover',
        '相对年初资产总计增长率': 'Total Assets Growth [YTD]',
        '流动资产周转率（次）': 'Current Asset Turnover',
        '营业周期（天）': 'Operating Cycle',
        '相对年初归属母公司的股东权益增长率': 'SE[MAX_CO% Growth [YTD]',
        '每股净资产': 'NAVPS'
    }
)

df_fr['date'] = pd.to_datetime(df_fr['date'])
df_fr['year'] = df_fr['date'].dt.year
df_fr['month'] = df_fr['date'].dt.month


df_fr.set_index(['ticker_f', 'year', 'month'])

                          date       Subject  DIO Diluted EPS  \
ticker_f year month
PRU      2023 9     2023-09-30  2023年三季报(累计)  NaN        3.15
              6     2023-06-30       2023年中报  NaN        5.31
              3     2023-03-31      2023年一季报  NaN        3.93
         2022 12    2022-12-31       2022年年报  NaN       -3.93
              9     2022-09-30  2022年三季报(累计)  NaN       -4.32
...                        ...           ...  ...         ...
WFC      2007 12    2007-12-31       2007年年报  NaN        2.38
              9     2007-09-30  2007年三季报(累计)  NaN        1.97
              6     2007-06-30       2007年中报  NaN        1.33
              3     2007-03-31      2007年一季报  NaN        0.66
         2006 12    2006-12-31       2006年年报  NaN        2.47

                                   Subject_Date SE[MAX_CO% Total Assets  \
ticker_f year month
PRU      2023 9      2023-09-30<br>2023年三季报(累计)    -15.62%       -1.13%
              6           2023-06-30<br>2023年中报     -7.06%        1.20%
              3          2023-03-31<br>2023年一季报      2.59%        2.94%
         2022 12          2022-12-31<br>2022年年报    -73.74%      -26.42%
              9      2022-09-30<br>2022年三季报(累计)    -73.33%      -27.71%
...                                         ...        ...          ...
WFC      2007 12          2007-12-31<br>2007年年报        NaN          NaN
              9      2007-09-30<br>2007年三季报(累计)        NaN          NaN
              6           2007-06-30<br>2007年中报        NaN          NaN
              3          2007-03-31<br>2007年一季报        NaN          NaN
         2006 12          2006-12-31<br>2006年年报        NaN          NaN

                     AR Turnover Ratio  DSO SE/Liability  ...  \
ticker_f year month                                       ...
PRU      2023 9                    NaN  NaN        0.04%  ...
              6                    NaN  NaN        0.04%  ...
              3                    NaN  NaN        0.05%  ...
         2022 12                   NaN  NaN        0.02%  ...
              9                    NaN  NaN        0.03%  ...
...                                ...  ...          ...  ...
WFC      2007 12                   NaN  NaN          NaN  ...
              9                    NaN  NaN          NaN  ...
              6                    NaN  NaN          NaN  ...
              3                    NaN  NaN          NaN  ...
         2006 12                   NaN  NaN          NaN  ...

                    Capital Reserve Per Share  Quick Ratio Inventory Turnover  \
ticker_f year month
PRU      2023 9                         71.17          NaN                NaN
              6                         70.35          NaN                NaN
              3                         70.09          NaN                NaN
         2022 12                        70.35          NaN                NaN
              9                         69.65          NaN                NaN
...                                       ...          ...                ...
WFC      2007 12                          NaN          NaN                NaN
              9                           NaN          NaN                NaN
              6                           NaN          NaN                NaN
              3                           NaN          NaN                NaN
         2006 12                          NaN          NaN                NaN

                    Equity Ratio Fixed Asset Turnover  \
ticker_f year month
PRU      2023 9           25.35%                  NaN
              6           23.49%                  NaN
              3           21.57%                  NaN
         2022 12          41.40%                  NaN
              9           40.03%                  NaN
...                          ...                  ...
WFC      2007 12             NaN                  NaN
              9              NaN                  NaN
              6              NaN                  NaN
              3              NaN                  NaN
         2006 12             NaN                  NaN

                     Total Assets Growth [YTD]  Current Asset Turnover  \
ticker_f year month
PRU      2023 9                            NaN                     NaN
              6                            NaN                     NaN
              3                            NaN                     NaN
         2022 12                           NaN                     NaN
              9                            NaN                     NaN
...                                        ...                     ...
WFC      2007 12                           NaN                     NaN
              9                            NaN                     NaN
              6                            NaN                     NaN
              3                            NaN                     NaN
         2006 12                           NaN                     NaN

                     Operating Cycle  SE[MAX_CO% Growth [YTD]  NAVPS
ticker_f year month
PRU      2023 9                  NaN                      NaN  71.44
              6                  NaN                      NaN   77.9
              3                  NaN                      NaN  85.78
         2022 12                 NaN                      NaN   44.4
              9                  NaN                      NaN  44.71
...                              ...                      ...    ...
WFC      2007 12                 NaN                      NaN    NaN
              9                  NaN                      NaN    NaN
              6                  NaN                      NaN    NaN
              3                  NaN                      NaN    NaN
         2006 12                 NaN                      NaN    NaN

[19514 rows x 26 columns]

In [18]:
# Price
df_price = pd.read_csv(os.path.join(data_dir, 'price', 'SP500_financial_data_pivot.csv'),)

df_price.rename(columns={'ticker': 'ticker_f'}, inplace=True)

df_price['date'] = pd.to_datetime(df_price['date'])

df_price

,ticker_f,date,prc,vol,ret,cap,ret_roll_avg_21d,prc_roll_avg_21d,vol_roll_avg_21d,ret_lag_1,ret_lag_2,ret_lag_3,prc_lag_1,prc_lag_2,prc_lag_3,vol_lag_1,vol_lag_2,vol_lag_3
0,A,2020-06-29,87.29,1302474.0,0.018277,2.695318e+10,-0.000231,88.442857,1.692013e+06,-0.015586,0.008087,-0.030466,85.90,87.26,86.56,2225790.0,1350229.0,1806600.0
1,A,2020-06-30,88.37,1920184.0,0.012373,2.728666e+10,-0.000599,88.369524,1.665249e+06,0.018277,-0.015586,0.008087,87.29,85.90,87.26,1302474.0,2225790.0,1350229.0
2,A,2020-07-01,88.11,1136989.0,-0.002942,2.720638e+10,-0.000940,88.265714,1.639251e+06,0.012373,0.018277,-0.015586,88.37,87.29,85.90,1920184.0,1302474.0,2225790.0
3,A,2020-07-02,88.68,1507700.0,0.006469,2.738238e+10,-0.000737,88.179524,1.645204e+06,-0.002942,0.012373,0.018277,88.11,88.37,87.29,1136989.0,1920184.0,1302474.0
4,A,2020-07-06,89.31,1412249.0,0.007104,2.757691e+10,-0.000741,88.092381,1.606384e+06,0.006469,-0.002942,0.012373,88.68,88.11,88.37,1507700.0,1136989.0,1920184.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156571,ZTS,2021-10-20,206.31,794843.0,0.009147,9.761059e+10,0.001323,198.945238,1.424929e+06,0.008435,0.002522,0.009132,204.44,202.73,202.22,813720.0,848761.0,1235834.0
156572,ZTS,2021-10-21,208.62,956999.0,0.011197,9.870351e+10,0.001776,199.291429,1.390824e+06,0.009147,0.008435,0.002522,206.31,204.44,202.73,794843.0,813720.0,848761.0
156573,ZTS,2021-10-22,208.51,1104379.0,-0.000527,9.865147e+10,0.000956,199.472381,1.386384e+06,0.011197,0.009147,0.008435,208.62,206.31,204.44,956999.0,794843.0,813720.0
156574,ZTS,2021-10-25,211.52,1224710.0,0.014436,1.000756e+11,0.001639,199.795714,1.391753e+06,-0.000527,0.011197,0.009147,208.51,208.62,206.31,1104379.0,956999.0,794843.0
156575,ZTS,2021-10-26,210.52,1219253.0,-0.004728,9.960245e+10,0.003026,200.401429,1.356288e+06,0.014436,-0.000527,0.011197,211.52,208.51,208.62,1224710.0,1104379.0,956999.0

In [20]:
df = df_30return.merge(
    df_everyday_count,
    on=['ticker_f', 'date'],
    how='left',
).fillna(0).merge(
    df_std[['ticker_f', 'date','std_7']],
    on=['ticker_f', 'date'],
    how='left',
).merge(
    df_price,
    on=['ticker_f', 'date'],
    how='left',
).fillna(method='ffill')

df

C:\Users\kexu\AppData\Local\Temp\ipykernel_27276\3116993498.py:13: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ).fillna(method='ffill')

,ticker_f,date,30d_return,count,std_7,prc,vol,ret,cap,ret_roll_avg_21d,...,vol_roll_avg_21d,ret_lag_1,ret_lag_2,ret_lag_3,prc_lag_1,prc_lag_2,prc_lag_3,vol_lag_1,vol_lag_2,vol_lag_3
0,A,2020-09-01,0.020486,0.0,0.006449,101.12,1159749.0,0.006971,3.117627e+10,0.000998,...,1.255696e+06,0.005205,0.008887,-0.003121,100.42,99.90,99.02,1077021.0,866211.0,1236929.0
1,A,2020-09-02,0.060392,0.0,0.000000,103.42,1462471.0,0.022745,3.188538e+10,0.002831,...,1.288231e+06,0.006971,0.005205,0.008887,101.12,100.42,99.90,1159749.0,1077021.0,866211.0
2,A,2020-09-03,0.017877,0.0,0.000000,99.64,1992844.0,-0.036550,3.071997e+10,0.000915,...,1.337493e+06,0.022745,0.006971,0.005205,103.42,101.12,100.42,1462471.0,1159749.0,1077021.0
3,A,2020-09-04,-0.006260,0.0,0.000000,96.84,1753874.0,-0.028101,2.985671e+10,-0.000209,...,1.369797e+06,-0.036550,0.022745,0.006971,99.64,103.42,101.12,1992844.0,1462471.0,1159749.0
4,A,2020-09-05,-0.009613,0.0,0.000000,96.84,1753874.0,-0.028101,2.985671e+10,-0.000209,...,1.369797e+06,-0.036550,0.022745,0.006971,99.64,103.42,101.12,1992844.0,1462471.0,1159749.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183120,ZTS,2021-09-22,-0.017757,0.0,0.000000,201.35,1673218.0,0.001691,9.526388e+10,-0.001156,...,1.338657e+06,0.012033,0.000655,-0.021108,201.01,198.62,198.49,1614942.0,1523319.0,4160202.0
183121,ZTS,2021-09-23,0.001370,0.0,0.000000,204.71,1197606.0,0.016687,9.685359e+10,-0.000020,...,1.349081e+06,0.001691,0.012033,0.000655,201.35,201.01,198.62,1673218.0,1614942.0,1523319.0
183122,ZTS,2021-09-24,0.003480,0.0,0.000000,204.73,1111962.0,0.000098,9.686305e+10,0.000115,...,1.364854e+06,0.016687,0.001691,0.012033,204.71,201.35,201.01,1197606.0,1673218.0,1614942.0
183123,ZTS,2021-09-25,0.004465,0.0,0.000000,204.73,1111962.0,0.000098,9.686305e+10,0.000115,...,1.364854e+06,0.016687,0.001691,0.012033,204.71,201.35,201.01,1197606.0,1673218.0,1614942.0
183124,ZTS,2021-09-26,0.004465,0.0,0.000000,204.73,1111962.0,0.000098,9.686305e+10,0.000115,...,1.364854e+06,0.016687,0.001691,0.012033,204.71,201.35,201.01,1197606.0,1673218.0,1614942.0

In [21]:
df.to_feather('./data/df.feather')