In [9]:
from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

import os
import pandas as pd

data_dir = os.environ['DATA_DIR']
print(data_dir)

D:\Dataset\stocktwits

In [8]:
for sub_data_dir in os.listdir(os.path.join(data_dir, 'Google_Trend')):
    for file in os.listdir(os.path.join(data_dir, 'Google_Trend', sub_data_dir)):
        print(file)

    break

geoMap.csv
multiTimeline.csv
relatedEntities.csv
relatedQueries.csv

In [11]:
pd.read_csv(os.path.join(data_dir, 'Google_Trend', sub_data_dir, 'geoMap.csv'))

                                   类别：所有类别
国家/地区    NASDAQ A: (2020/10/1 - 2021/10/1)
加拿大                                    100
新加坡                                    100
意大利                                     96
南非                                      85
...                                    ...
英属维尔京群岛                                NaN
瓦利斯和富图纳                                NaN
萨摩亚                                    NaN
科索沃                                    NaN
也门                                     NaN

[251 rows x 1 columns]

In [13]:
pd.read_csv(os.path.join(data_dir, 'Google_Trend', sub_data_dir, 'multiTimeline.csv')).head()

                   类别：所有类别
周           NASDAQ A: (全球)
2020-10-04              55
2020-10-11              51
2020-10-18              50
2020-10-25              52