In [1]:
from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

import os
import pandas as pd

data_dir = os.environ['DATA_DIR']
print(data_dir)

D:\Dataset\stocktwits

In [5]:
df = pd.read_csv(os.path.join(data_dir, 'price', 'GME.csv'))
df['Date'] = pd.to_datetime(df.Date)

df = df.set_index('Date')

df

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-09-01   1.825000   1.955000   1.692500   1.912500   1.912500  92634400
2020-09-02   1.950000   2.012500   1.777500   1.927500   1.927500  52044400
2020-09-03   1.970000   2.112500   1.810000   1.955000   1.955000  57378000
2020-09-04   1.945000   1.980000   1.792500   1.912500   1.912500  30648000
2020-09-08   1.887500   2.070000   1.870000   1.925000   1.925000  39266400
...               ...        ...        ...        ...        ...       ...
2021-04-26  37.744999  43.669998  37.189999  42.232498  42.232498  42128400
2021-04-27  45.887501  47.000000  43.292500  44.442501  44.442501  35730800
2021-04-28  43.025002  45.494999  41.507500  44.645000  44.645000  23155600
2021-04-29  44.139999  45.215000  42.687500  44.047501  44.047501  15041200
2021-04-30  43.750000  45.950001  43.174999  43.397499  43.397499  17734400

[167 rows x 6 columns]